/*-------------------------
   Header Styles
-------------------------*/
.minima-header {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 4;
    .header-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header-logo {
            a {
                display: block;
            }
            .dark-version-logo {
                display: none;
            }
            .sticky-logo {
                display: none;
            }
            img {
                @media #{$md-layout} {
                    width: 150px;
                }
            }
            transition: var(--transition);
            &:hover{
                transform: scale(0.94);
            }
        }
        .header-main-nav {
            flex: 1;
            margin: 0 55px 0 50px;
            @media #{$smlg-device} {
                margin: 0 30px;
            }
            @media #{$md-layout} {
                margin: 0;  
            }
        }
    }
    &.header-style {
        background-color: var(--color-minima-black);
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0 , 0.1);
        @media only screen and (max-width: 1299px) {
            .header-main-nav {
                margin: 0 0px;
            }
        }
        @media #{$md-layout} {
            .header-main-nav {
                margin: 0;
            } 
        }
        .mainmenu-nav {
            @media #{$md-layout} {
                background-color: var(--color-dark);
            }
            .mainmenu {
                .menu-item-has-children {
                    .minima-submenu {
                        background-color: var(--color-dark);
                        li {
                            a {
                                color: var(--color-light);
                                &:hover {
                                    color: var(--color-primary);
                                }
                                &.active {
                                    color: var(--color-primary);
                                }
                            }
                        }
                    }
                }
            }
        }
        .mobile-nav-header {
            border-color: var(--color-gray-4); 
            .mobile-nav-logo {
                .light-mode {
                    display: none;
                }
                .dark-mode {
                    display: block;
                }
            }
            .mobile-menu-close {
                background-color: var(--color-white);
                color: var(--color-black);
                border: none;
            }
        }
        
        .minima-mainmenu {
            &.minima-sticky {
                // background-color: var(--color-dark);
                background-color: var(--color-minima-black);
            }
        }
        .mainmenu {
            li {
                @media #{$smlg-device} {
                    margin: 0 10px;
                }
                @media #{$md-layout} {
                    border-color: var(--color-gray-4);  
                }
                a {
                    color: var(--color-light);
                    &::before {
                        background-color: var(--color-white);
                    }
                    &::after {
                        color: var(--color-gray-4);
                    }
                }
            }
        }
        .header-action {
            .header-btn {
                .minima-btn {
                    display: block;
                    width: 120px;
                    padding: 10px 18px;
                    letter-spacing: 0.5px;
                    font-weight: 500;
                    border-radius: 0px;
                    @media #{$sm-layout} {
                        width: 100px;
                        padding: 8px 4px !important;
                        font-size: 14px;
                        letter-spacing: 0.025px;
                    }
                }
            }
        }
    }
}

.minima-mainmenu {
    padding: 15px 32px;
    position: fixed;
    width: 100%;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--color-minima-black);
    // box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.10);
    transition: all ease-in-out 0.8s;
    @media #{$laptop-device} {
        padding: 20px 0;
    }
    @media #{$smlg-device} {
        padding: 20px 15px;
    }
    &.top{
        top: -129px;
        padding: 20px 10px;
    }
    &.minima-sticky {
        top: 0px;
        padding: 15px 10px;
        .header-action {
            .sidemenu-btn {
                .btn-wrap {
                    background-color: var(--color-body);
                    span {
                       background-color: var(--color-white);

                    }
                }
            }
            .social-icon-list {
                li {
                    a {
                        color: var(--color-dark);
                        &:hover {
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }
    }
}

// Main Nav

.mainmenu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
    >li {
        margin: 0 24px;
        @media #{$smlg-device} {
            margin: 0 11px;
        }
        >a {
            color: var(--color-body);
            font-weight: 500;
            font-size: var(--font-body-2);
            font-family: var(--font-primary);
            line-height: 60px;
            height: 60px;
            display: block;
            position: relative;
            transition: var(--transition);
            &::before {
                content: "";
                height: 2px;
                width: 0;
                background-color: var(--color-primary);
                position: absolute;
                bottom: 12px;
                left: 0;
                opacity: 0;
                transition: 0.5s;
            }
            &:hover {
                color: var(--color-primary);
                &::before {
                    opacity: 1;
                    width: 100%;
                }
            }
            &.active {
                color: var(--color-primary);
                &::before {
                    width: 100%;
                    opacity: 1;
                }
            }
        }
    }
    >.menu-item-has-children {
        position: relative;
        >a {
            position: relative;
            svg {
                margin-left: 2px;
                font-size: 14px;
            }
        }
        .minima-submenu {
            position: absolute;
            top: 100%;
            left: 20px;
            background: #ffffff;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            min-width: 250px;
            padding: 15px 10px;
            border-radius: 4px;
            transition: var(--transition);
            list-style: none;
            margin: 0;
            box-shadow: 0 13px 48px 0 rgba(0, 0, 0, 0.15);
            li {
                margin: 0;
                transition: var(--transition);
                opacity: 0;
                transform: translateX(20px);
                a {
                    position: relative;
                    font-size: 14px;
                    text-transform: capitalize;
                    color: var(--color-body);
                    font-weight: 500;
                    padding: 7px 15px;
                    border-radius: 4px;
                    display: block;
                    transition: var(--transition);
                    &::after {
                        content: "";
                        height: 1px;
                        width: 0;
                        background-color: var(--color-primary);
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        transition: var(--transition);
                    }
                    &:hover {
                        color: var(--color-primary);
                        &::after {
                            width: 100%;
                        }
                    }
                    &.active {
                        color: var(--color-primary);
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
        &:hover {
            .minima-submenu {
                opacity: 1;
                visibility: visible;
                z-index: 9;
                left: 0;
                li {
                    opacity: 1;
                    transform: translateX(0);
                    &:nth-child(1n) {
                        transition-delay: .1s;
                    }
                    &:nth-child(2n) {
                        transition-delay: .2s;
                    }
                    &:nth-child(3n) {
                        transition-delay: .3s;
                    }
                    &:nth-child(4n) {
                        transition-delay: .4s;
                    }
                    &:nth-child(5n) {
                        transition-delay: .5s;
                    }
                    &:nth-child(6n) {
                        transition-delay: .6s;
                    }
                    &:nth-child(7n) {
                        transition-delay: .7s;
                    }
                    &:nth-child(8n) {
                        transition-delay: .8s;
                    }
                    &:nth-child(9n) {
                        transition-delay: .8s;
                    }
                    &:nth-child(10n) {
                        transition-delay: .8s;
                    }
                    &:nth-child(11n) {
                        transition-delay: .8s;
                    }
                    &:nth-child(12n) {
                        transition-delay: .8s;
                    }
                }
            }
        }
    }
}

// Header Action
.header-action {
    >ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        >li {
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }   
        }
    }
    .sidemenu-btn {
        margin-right: 0;
        .btn-wrap {
            height: 60px;
            width: 60px;
            background-color: var(--color-light);
            border: none;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            transition: var(--transition);
            @media #{$md-layout} {
                height: 50px;
                width: 50px;
            }
            span {
                height: 2px;
                width: 20px;
                background-color: var(--color-dark);
                margin-bottom: 4px;
                border-radius: 10px;
                transition: var(--transition);
                &:last-child {
                    margin-bottom: 0;
                    width: 10px;
                    margin-right: -10px;
                }
            }
            &:focus {
                box-shadow: none;
            }
            &:hover {
                span {
                    &:last-child {
                        width: 20px;
                        margin-right: 0;
                    }
                    &:first-child {
                        width: 10px;
                        margin-right: -10px;
                    }
                }
            }
            &.btn-dark {
                background-color: var(--color-body);
                span {
                    background-color: var(--color-white);
                }
            }
        }
    }
    .header-social-link {
        @media #{$large-mobile} {
            display: none;
        }
    }
    .social-icon-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: -15px;
        li {
            margin: 15px;
            a {
                font-size: 20px;
                color: var(--color-body);
                @media #{$md-layout} {
                    color: var(--color-dark);
                }
                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }
    .header-btn {
        margin-right: 0;
        @media only screen and (max-width: 1399px) {
            .minima-btn {
                padding: 8px 27px;
                font-size: 0.9375rem;
            }
        }
        @media #{$lg-layout} {
            .minima-btn {
                padding: 8px 12px;
            }
        }
        @media #{$md-layout} {
            margin-right: 30px;
        }

        @media #{$large-mobile} {
            // display: none;
            .minima-btn {
                padding: 10px 20px !important;
            }
        }
    }
    .mobile-menu-btn {
        @media only screen and (min-width: 992px) {
            display: none;
        }
        .btn-wrap {
            height: 50px;
            width: 50px;
        }
    }
    .my_switcher {
        margin-left: 20px;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        line-height: 52px;
        padding: 0;
        text-align: center;
        @media #{$sm-layout} {
            margin-left: 15px; 
        }
       button {
            width: 100%;
            height: 100%;
            line-height: 1;
           span {
                width: 100%;
                line-height: 34px;
                @media #{$sm-layout} {
                    line-height: 24px;
                }
           }
       }
    }
}


@media only screen and (max-width: 991px) {
    .mainmenu-nav {
        display: none;
    }
}


/// Keyfram Animation
@keyframes headerSlideDown {
    0% {
        margin-top: -20px;
        opacity: 1;
    }
    30% {
        margin-top: -10px;
        opacity: 1;
    } 
    100% {
        margin-top: 0;
        opacity: 1;
    }
}